{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить</a>
</div>
<div class="row text-center">
    {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <h2 class="my-0 font-weight-normal">{{ object.name }}</h2>
            </div>
            <div class="card-body">
                <p class="my-0 font-weight-normal">{{ object.description|truncatechars:100 }}</p>
                {% if object.id == 5 %}
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:skin_products' %}">Подробнее</a>
                {% endif %}
                {% if object.id == 6 %}
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:hygiene_products' %}">Подробнее</a>
                {% endif %}
                {% if object.id == 7 %}
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:home_products' %}">Подробнее</a>
                {% endif %}

            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
