{% extends 'catalog/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}
    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                         src="{{ object.preview|mediapath }}"
                         alt="image">
                    <div class="card-header">
                        <h3 class="my-0 font-weight-normal" >{{ object.name }}</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="my-0 font-weight-normal">{{ object.text|slice:"0:100" }}</h4>

                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product' pk=object.pk %}">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
